<main
  class="bg-slate-100 flex flex-col justify-center items-center p-10 min-h-screen"
>
  <form
    #registerForm="ngForm"
    (ngSubmit)="onSubmit(registerForm)"
    class="w-8/12 p-10 bg-white shadow-md rounded"
  >
    <!-- Username Field -->
    <div>
      <label for="username" class="block text-gray-700 font-bold mb-2"
        >Username</label
      >
      <input
        type="text"
        id="username"
        name="username"
        ngModel
        required
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div
        *ngIf="
          registerForm.controls['username']?.invalid &&
          registerForm.controls['username']?.touched
        "
      >
        <small class="text-red-500">Username is required.</small>
      </div>
    </div>

    <!-- Email Field -->
    <div>
      <label for="email" class="block text-gray-700 font-bold mb-2"
        >Email</label
      >
      <input
        type="text"
        id="email"
        name="email"
        ngModel
        required
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div
        *ngIf="
          registerForm.controls['email']?.invalid &&
          registerForm.controls['email']?.touched
        "
      >
        <small class="text-red-500">Email is required.</small>
      </div>
    </div>

    <!-- Password Field -->
    <div class="mb-4 flex-grow">
      <label for="password" class="block text-gray-700 font-bold mb-2"
        >Password:</label
      >
      <input
        type="password"
        id="password"
        name="password"
        ngModel
        required
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div
        *ngIf="
          registerForm.controls['password']?.invalid &&
          registerForm.controls['password']?.touched
        "
      >
        <small class="text-red-500">Password is required.</small>
      </div>
    </div>

    <!-- Password Confirmation Field -->
    <div class="mb-4 flex-grow">
      <label for="password2" class="block text-gray-700 font-bold mb-2"
        >Confirm Password:</label
      >
      <input
        type="password"
        id="password2"
        name="password2"
        ngModel
        required
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div
        *ngIf="
          registerForm.controls['password2']?.invalid &&
          registerForm.controls['password2']?.touched
        "
      >
        <small class="text-red-500">Password Confirmation is required.</small>
      </div>
    </div>

    <button
      type="submit"
      [disabled]="registerForm.invalid"
      class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      Register
    </button>
  </form>
</main>
